div[id^="issue_"] {

    &:hover {
        .visible-container {
            align-items: center;
            display: flex;
            justify-self: center;
            margin: auto 0.25rem;
            color: var(--color-scale-gray-4);
            z-index: 1; // Required for mobile viewport

            &:hover {
                color: var(--color-scale-blue-4);
                cursor: pointer;
            }
        
            svg {
                height: 20px;
                width: 20px;
            }
        }
    }

    .visible-container {
        display: none;
    }
}
