.gitkit-issue {
    &--visited {
        background-color: unset;
    }

    &--not-visited {
        background-color: var(--color-scale-gray-0);
    }
}
@media (prefers-color-scheme: dark) {
    .gitkit-issue {
        &--not-visited {
            background-color: var(--color-scale-gray-8);
        }
    }
}
