button {
    all: unset;
    box-sizing: border-box;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    width: 100%;
  
    background-color: white;
    color: var(--violet-11);
    box-shadow: 0 2px 10px var(--black-a7);

    &--no-style {
        all: unset !important;
    }

    &:hover {
        background-color: var(--gray-3);
    }

    &:focus {
        box-shadow: 0 0 0 2px black;
    }
  }
 