.app-container {
  display: flex;
  flex-flow: column nowrap;
  width: 400px;
  min-height: 100px;
  max-height: 400px;
  overflow: hidden;

  .issues-container {
    overflow: auto;

    .issue-container {
      border-bottom: 1px solid var(--gray-6);
      color: var(--gray-12);
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0.25rem 0.5rem;
  
      .content-container {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
  
        span {
          color: var(--gray-11);
        }
      }
    
      .action-container {
        color: var(--gray-11);
        margin: auto 0;
  
        &:hover {
          color: var(--blue-11);
          cursor: pointer;
        }
      }
    }  
  }
}
