@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/black-alpha.css';
// 1 - App background
// 2 - App subtle background
// 3 - UI Background
// 4 - UI Background Hover
// 5 - UI Background Active/Selected
// 6 - Border Subtle/Separators
// 7 - Border
// 8 - Border Hover
// 9 - Solid Background
// 10 - Solid Background Hover
// 11 - Low-contrast text
// 12 - High-contrast text


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
